/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    margin-top: 8rem;

    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.05rem;

    background-color: hsl(0, 0%, 95%);
}

header {
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    
    padding: 2rem;
    border-bottom: solid 2px hsl(0, 0%, 90%);
    
    width: 100%;
    height: 4rem;
    
    background-color: white;

    box-shadow:
        0 4px 8px hsl(0, 0%, 50%, 0.5);
}

h1 {
    font-size: 2rem;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;

    padding: 2rem;
}

.card {
    width: 16rem;
    animation: fade 1200ms;
}

.card * {
    margin: 0.5rem 0;
}

.card img {
    width: 100%;
    height: 24rem;
    border-radius: 0.5rem;
}

.card h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.card .author {
    font-size: 1.2rem;
    
    color: hsl(0, 0%, 0%);
}

.card p {
    font-size: 1.2rem;
    color: hsl(0, 0%, 30%);
}

button.read,
button.unread {
    font-size: 1.2rem;   
}

button.read {
    background-color: green;
}

.unread {
    color: black;
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}